.projects
  padding: 16px 30px 0
  -webkit-box-align: center
  align-items: center
  -webkit-box-pack: justify
  justify-content: space-between

  .text-projects
    color: rgb(43, 29, 56)
    font-size: 1.6rem
    line-height: 22px
    font-weight: normal
    margin: 0

  .btn-create-project
    text-align: end

  .btn-create-project > .hide-btn-send > .btn-primary
    background: #ccc
    box-shadow: 0 8px 16px 0 #ccc

  .team-section-wrapper
    border-bottom: 1px solid rgb(198, 190, 207)
    padding: 0 30px 30px

    .team-title-bar
      display: flex
      -webkit-box-align: center
      align-items: center
      -webkit-box-pack: justify
      justify-content: space-between
      padding: 20px 0 16px

      .page-heading-team-name
        color: rgb(43, 29, 56)
        font-weight: normal
        margin: 0
        font-size: 20px
        line-height: 24px

        .team-link
          display: flex
          -webkit-box-align: center
          align-items: center
          color: rgb(61, 116, 219)

          .wrapper
            display: flex
            -webkit-box-align: center
            align-items: center
            flex-shrink: 0

            .display-name
              display: flex
              flex-direction: column
              line-height: 1
              overflow: hidden
              text-overflow: ellipsis
              color: rgb(61, 116, 219)

              .name-username
                display: block
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                width: 100%
                max-width: 240px
                padding: 2px 0

    .project-card-all
      display: block
      width: 100%

      .project-card
        display: inline-block
        border: 1px solid rgb(198, 190, 207)
        width: 100%
        margin: 11px
        max-width: 31%

        .page-project-card
          box-shadow: none
          margin: 0
          padding-top: 0
          line-height: 2rem

          .card-header
            .link-name-project
              display: flex
              white-space: nowrap
              overflow: hidden
              text-overflow: ellipsis
              
              .icon-sentry
                height: 30px
                width: 30px
                border-radius: 18px
                background: #00ab55

              .text-nodejs
                color: rgb(61, 116, 219)
                font-size: 18px
                padding-left: 6px
                line-height: 32px
                text-decoration: none
                cursor: pointer

            .summary-links
              display: flex
              -webkit-box-align: center
              align-items: center
              color: rgb(119, 101, 137)
              margin-left: 34px

              .link-project-des
                padding: 2px
                display: block
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                cursor: default
                text-decoration: none

                .text-des
                  color: #000
                  font-size: 15px
                  text-transform: none
                  cursor: pointer

                  &:hover
                    color:  rgb(43, 29, 56)
                    opacity: 0.8

@media screen and (max-width: 1024px)
  .projects
    .team-section-wrapper
      .project-card-all
        .project-card
          max-width: 46%
          margin: 10px

@media screen and (max-width: 600px)
  .projects
    .team-section-wrapper
      .project-card-all
        .project-card
          max-width: 96%
          margin: 10px
