.task-status
  position: relative
  flex-shrink: 0
  display: flex
  flex-direction: column
  width: 270px
  padding: 0 5px 0 0
  margin-left: 15px
  margin-top: 15px
  min-height: 50px

  .status
    justify-content: space-between
    flex-direction: row
    display: flex
    font-size: 14px
    flex-shrink: 0
    margin-right: 10px
    margin-bottom: 9px
    margin: 6px 0 6px 6px
    border-radius: 3px
    background: #fff
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .06)
    cursor: pointer
    position: relative
    border-top: 2px solid #00ab55

    .status-left
      display: flex
      align-items: center
      user-select: none
      position: relative
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      font-family: Gotham Pro, Proxima Nova, arial, serif
      font-weight: 500
      font-size: 13px
      line-height: 1.3
      margin: 0
      color: #544d61
      text-transform: uppercase
      padding: 0 10px;

      .name-status
        font-size: 1em
        margin-right: 3px

      .quality-task
        padding: 0 5px
        border: 0.01px solid #acacac
        border-radius: 50%
        font-size: 0.8em

      .rename-status
        display: flex;
        border: .2px solid #5faf40;
        padding: 3px;

        .add-status-input
          font-size: 13px;
          padding: 2px;
          border-radius: 5px;
          border: none;
          color: #3a3a3a;
          width: 85%;
          white-space: nowrap;

        .close-create-status
          .close-create-status-icon
            font-size: 18px;
            color: #ccc;

            &:hover
              color: #ca3131
              cursor: pointer

        .submit-create-status
          .submit-create-status-icon
            font-size: 17px;
            color: #ccc;

            &:hover
              color: #00ab55
              cursor: pointer

    .status-right
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0;

    .no-add-status
      background: #fff;

    .add-status-style
      border-bottom: 1px solid #00ab55;

    .add-status-modal
      display: flex
      width: 100%
      align-items: center;

      .add-status-input
        font-size: 1em
        border: none;
        width: 90%
        padding: 4px 0;

        &:focus
          outline: none;

      .close-create-status
        .close-create-status-icon
          font-size: 18px;
          color: #ccc;

          &:hover
            color: #ca3131
            cursor: pointer

      .submit-create-status-icon
        font-size: 17px;
        color: #ccc;

        &:hover
          color: #00ab55
          cursor: pointer


    .status-task-list
      padding: 0 1px
      overflow-y: auto
      overflow-x: hidden
      display: flex
      flex-direction: column
      padding-bottom: 100px
      cursor: grab

.add-task
  .status
    padding: 10px 10px 12px;
