.company-name
  text-transform: capitalize
  font-weight: 500 !important
  font-size: 2rem

.choose-company-layout > .skeleton-wrapper > .skeleton
  margin-top: 0.5rem
  margin-bottom: 0.5rem
  padding-top: 10px

.skeleton-wrapper
  margin: 1rem

.empty-state
  height: 300px
  margin: 1rem
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.empty-state > .empty-state--text
  font-weight: 500
  margin-top: 2rem
  font-size: 1.2rem

.choose-company-layout
  max-height: 300px
  margin: 1rem
  background-color: rgb(255,255,255)
  @media (min-height: 300px)
    overflow: scroll