.app-bar
  background-color: rgba(255, 255, 255, 0.3) !important
  --btn-app-bar: rgb(99, 115, 129)
  --btn-app-bar-menu: #212B36

.toolbar
  min-height: 128
  align-items: flex-start

.language-img
  width: 24px

.grow
  flex-grow: 1

.user-section
  align-items: center
  justify-content: space-evenly
  display: flex
  width: 80%
  max-width: 380px

.btn-appbar
  color: var(--btn-app-bar)

.menu
  color: var(--btn-app-bar-menu)

@media screen and (min-width: 960px)
  .app-bar
    width: calc(100% - var(--drawer-width)) !important
    margin-left: var(--drawer-width)
