.bg-gradient-default
  padding-left: 1rem
  background: linear-gradient(87deg, #172b4d, #1a174d)
  box-shadow: rgba(145, 158, 171, 0.24) 0 0 2px 0, rgba(145, 158, 171, 0.24) 0 16px 32px -4px

.justify-content-end
  justify-content: flex-end
  display: flex
  text-align: right

.header
  display: block

@media screen and (max-width: 710px) 
  .bg-gradient-default
    .gragh-content
      display: grid

      .graph-header
        display: grid

        .header
          display: inline 

          .justify-content-end
            display: flex
            

@media screen and ( max-width: 480px)
  .MuiButton-label
    font-size: 10px
@media screen and ( max-width: 360px)
  .bg-gradient-default
    width: 97.5%
    margin: 0 auto

    .gragh-content
      display: grid

      .graph-header
        display: grid

        .header
          display: inline
          
          .justify-content-end
            display: flex
