.bg-gradient-default
  padding-left: 1rem
  background: linear-gradient(87deg, #172b4d, #1a174d)
  box-shadow: rgba(145, 158, 171, 0.24) 0 0 2px 0, rgba(145, 158, 171, 0.24) 0 16px 32px -4px

.justify-content-end
  justify-content: flex-end

.header
  display: block

.justify-content-end
  display: block
  text-align: right
