.statistics-table
  align:center
  margin-top: 2rem
  margin-bottom: 3rem
  height: fit-content
  min-height: 450px
  flex-grow: 2
  align-items: center
  flex-direction: column
  border-radius: 10px
  box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px, rgba(145, 158, 171, 0.24) 0px 16px 32px -4px

  .table-title
    padding-left: 1rem
    padding-top: 1rem
    font-size: 20
    font-weight: 600
  

  .table-header
    background-color: #F6F9FC
    color: #8999AB
    font-size: 0.875rem

