.btn-switch-container
  display: inline-block
  
.btn-switch-container > .btn-switch-selected
  font-weight: 700
  font-size: 0.875rem
  line-height: 1.71429
  text-transform: capitalize
  padding: 6px 16px
  transition: background-color 250ms 
  border-radius: 8px
  margin-left: 20px
  color: #FFFFFF
  background-color: #5E73E4

.btn-switch-container > .btn-switch
  font-weight: 700
  font-size: 0.875rem
  line-height: 1.71429
  text-transform: capitalize
  padding: 6px 16px
  margin-left: 20px
  transition: background-color 250ms 

  background-color: #FFFFFF
  border-radius: 8px
  color: #5E73E4
