.board
    display: block;
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    box-shadow: 0px 0px 8px 2px #ececec;
    border-radius: 16px;
    position: relative;
    z-index: 0;
    width: 95%;
    overflow-x: auto;
    margin: 23px auto;
    background: #fff;
    min-height: 200px;

    .btn-choose
        border: none;
        box-shadow: none;
        overflow: auto;
        float: right;
        background: #fff;

    .nav-click_up
        align-items: center;
        justify-content: flex-end;
        min-width: max-content;
        position: relative;
        z-index: 3;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 10px 10px;
        min-height: 35px;
        padding: 0 12px 0 0;
        background: #fff;
        border-bottom: 1px solid #e9ebf0;

        .nav-search
            width: 15em;
            left: 0;
            float: left;
            position: absolute;
            display: flex;
            align-items: center;
            height: 30px;
            border-radius: 15px;
            padding: 0;
            border: none;
            margin: 0 17px;
            justify-content: start;
            flex-wrap: wrap;
            min-width: 0;

            .icon-search
                padding: 0 5px 0 0;
                stroke: #53575e;
                transition: all .1s cubic-bezier(.785,.135,.15,.86) 0s;
                order: 1;
                flex-shrink: 0;
                width: 34px;
                height: 14px;
                margin: 0;
                stroke: #bcc0c7;
                cursor: pointer;
                padding: 0 10px;

            .nav-input-search
                transition: all .2s cubic-bezier(.785,.135,.15,.86) 0s;
                font-family: Gotham Pro,Proxima Nova,arial,serif;
                font-weight: 400;
                font-size: 12px;
                line-height: 28px;
                order: 2;
                flex-grow: 1;
                width: 55px;
                height: 28px;
                padding: 0;
                border: none;
                -webkit-font-smoothing: antialiased;
                color: #343434;
                background: transparent;
                box-shadow: none;
                min-width: 0;
                max-width: none;

        .nav-actions
            display: contents;
            float: right;
            
            .list-actions
                display: flex;
                list-style: none;
                padding: 0px 20px 0px 0px;
                margin: 0;
                float: left;
                transform: translateY(5px);

                .item-action
                    display: flex;
                    position: relative;

                    .action
                        display: flex;
                        line-height: 1.5;
                        vertical-align: middle; 

                        .action-icon
                            font-size: 1em;
                            margin: 0 10px;
                            transform: translateY(3px);

                        .action-text
                            font-size: 1em;
                            color: #7c828d

        .show-task
            display: contents;
            float: right;

            .list-actions
                list-style: none;
                padding: 0px 20px 0px 0px;
                margin: 0;
                float: right;
                transform: translateY(5px);

                .item-action
                    display: flex;
                    position: relative;

                    .action
                        display: flex;
                        line-height: 1.5;
                        vertical-align: middle; 

                    .action-use
                        display: flex;
                        vertical-align: middle;
                        line-height: 1.2;
                        border: none;
                        transform: translateY(-1px);
                        .btn-assign
                            transform: translateX(10px)
                            .btn
                                margin-left: 10px;
                                display: contents;
                                z-index: 1;
                                min-width: auto;
                                .assign
                                    display: flex;
                                    vertical-align: middle;
                                    line-height: 1.2;
                                    border: none;
                                    border-radius: 10px;
                                    padding: 0 5px;
                                    background: #dfe4e7;

                                    .icon
                                        color: #7c828d
                                        font-size: 1em
                                        margin-right: 3px
                                        transform: translateY(3px);

                                    .text-per
                                        color: #7c828d
                                        font-size: 1em
                                        text-transform: initial;

                                .assign-other
                                    padding: 1px 11px 6px 11px;
                                   
                        .btn-assign
                            transform: translateX(10px)
                            .btn-show
                                z-index: 2;
                                .assign
                                    background: #117BC8;
                                    .icon
                                        color: #fff
                                        font-size: 1em
                                    .text-per
                                        color: #fff
                                .assign-other
                                    padding: 1px 11px 6px 11px;

    .board-tasks
        display: flex;
        display: flex;
        width: 100%;
        overflow-x: auto;
        
        .task-status
            position: relative;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            width: 270px;
            padding: 0 5px 0 0;
            margin-left: 15px;
            margin-top: 15px;
            min-height: 50px;

            .status
                justify-content: space-between;
                flex-direction: row;
                display: flex;
                font-size: 14px;
                flex-shrink: 0;
                margin-right: 10px;
                margin-bottom: 9px;
                padding: 14px 10px 12px;
                margin: 6px 0 6px 6px;
                border-radius: 3px;
                background: #fff;
                box-shadow: 0 1px 2px 1px rgba(0,0,0,.06);
                cursor: pointer;
                position: relative;
                border-top: 2px solid rgb(211, 211, 211);

                .status-left
                    display: flex;
                    align-items: center;
                    user-select: none;
                    position: relative;
                    min-width:  fit-content;
                    padding: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-family: Gotham Pro,Proxima Nova,arial,serif;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 1.3;
                    margin: 0;
                    color: #544d61;
                    text-transform: uppercase;

                    .name-status
                        font-size: 1em
                        margin-right: 3px;

                    .quality-task
                        padding: 0 5px;
                        border: 0.01px solid #acacac;
                        border-radius: 50%;
                        font-size: 0.8em;

                .status-right
                    justify-content: space-between;
                    margin-left: 15px;
                    padding: 0;
                    text-align: right;

            .status-task-list
                padding: 0 1px;
                overflow-y: auto;
                overflow-x: hidden;
                display: flex;
                flex-direction: column;
                padding-bottom: 100px;
                cursor: grab;

                .task-item
                    margin: 15px 0 6px 6px;
                    background: #fff;
                    box-shadow: 0 1px 2px 1px rgba(0,0,0,.06);
                    cursor: pointer;
                    position: relative;
                    border: 1px solid #fff;
                    border-radius: 4px;
                    display: flex;
                    padding: 7px 10px 2px;
                    min-width: 0;
                    flex-grow: 1;
                    flex-direction: column;
                    min-height: max-content;

                    .text-board
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: flex;
                        align-items: center;
                        margin: 0 0 7px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-family: Gotham Pro,Proxima Nova,arial,serif;
                        font-weight: 100;
                        font-size: 10px;
                        line-height: 1.2;
                        color: #544d61;

                    .task-title
                        text-align: center;
                        display: flex;
                        align-items: flex-start;
                        cursor: pointer;
                        width: 100%;
                        margin-bottom: 5px;
                        position: relative;
                        justify-content: space-between;
                        flex-direction: row;

                        .task-name
                            font-size: 1.1em
                            cursor: pointer;
                            margin-bottom: 5px;
                            margin: 0;
                            padding: 0;
                            border: 0;
                            vertical-align: baseline;
                            position: relative
                            text-align: left;
                            color: #212b36;
                            width: 200px;

                    .footer-task
                        .task-id
                            transition: color .2s cubic-bezier(.785,.135,.15,.86) 0s;
                            font: 400 10px/1 Gotham Pro,Proxima Nova,arial,serif;
                            padding: 2px 0;
                            color: #777;

            .in-progress
                border-top: 2px solid rgb(65, 148, 246);

            .closed
                border-top: 2px solid rgb(107, 201, 80);

            .add-task-text
                transform: translateY(25px);

        .add-task
            display: flex;
            color: #d3d3d3;

            .icon-add-task
                color: #d3d3d3;
@media screen and ( min-width: 1025px )
    .board
        .btn-choose
            display: none
    
@media screen and ( max-width: 1024px )
    .board
        margin: auto
        top: 20px
        z-index: 1

        .nav-click_up
            .nav-actions
                display: none

            .show-task
                .list-actions
                    display: contents

@media screen and ( max-width: 768px )
    .board
        padding: 0px 0px 25px
        margin: auto
        top: 20px
        z-index: 1

        .nav-click_up
            .nav-actions
                display: none

@media screen and ( max-width: 600px )
    .board
        padding: 0px 0px 25px
        margin: auto
        top: 20px
        z-index: 1

        .nav-click_up
            .nav-search
                width: 10em
                 
@media screen and ( max-width: 480px )
    .board
        padding: 0px 0px 25px
        margin: auto
        top: 20px
        z-index: 1

        .nav-click_up
            .nav-search
                width: 12em

@media screen and ( max-width: 360px )
    .board
        width: 95%
        padding: 0px 0px 25px
        margin: auto
        top: 20px
        z-index: 1

        .nav-click_up
            .nav-search
                width: 12em
    