.connect-slack-tab
  margin: 30px 19px 50px;
  display: flex
  justify-content: justify-start
  flex-direction: row
  width: 90%
  align-items: center

.connect-slack-tab > .btn-primary-container
  padding: 0

.connect-slack-tab > .hide-btn-send > .btn-primary
  background: #ccc;
  box-shadow: 0 8px 16px 0 #ccc;

.connect-slack-tab > .btn-primary-container > .btn-primary
  height: 55px !important

.connect-slack-tab > .text-field-form
  width: 100%
  margin: 0 20px

.connect-slack-tab > .text-field-form > .text-field
  width: 100%
