.create-project
  padding: 16px 30px
  -webkit-box-align: center
  align-items: center
  -webkit-box-pack: justify
  justify-content: space-between
  width: 90%
  margin: 70px auto
  border-radius: 16px
  box-shadow: rgba(145, 158, 171, 0.24) 0 0 2px 0, rgba(145, 158, 171, 0.24) 0 16px 32px -4px
  
  .text-create-projects
    color: rgb(43, 29, 56)
    font-size: 22px
    line-height: 3rem
    font-weight: 600
    padding: 10px 0

  .create-project-form
    grid-template-columns: 300px 250px max-content
    grid-gap: 16px
    -webkit-box-align: end
    align-items: end
    padding: 20px 0
    box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 0
    background: rgb(255, 255, 255)

    .create-project-form-grid
      background-color: rgb(255, 255, 255)
      display: flex
      width: 100%

      .create-project-form-card-item
        display: contents

        .form-all
          width: 100%
          padding: 5px 5px

          .form-label
            font-size: 18px
            margin-bottom: 8px

          .project-name-input
            color: rgb(43, 29, 56)
            width: 100%
            background: rgb(255, 255, 255)
            border: 1px solid rgb(198, 190, 207)
            -webkit-border-radius: 4px
            padding: 5px 10px
            display: flex
            align-items: flex-end
            height: 3.5rem

            .img
              margin-right: 8px
              border-radius: 3px
              width: 1.5rem
              height: 1.5rem
              align-self: center

            .input-label-text
              background: rgb(255, 255, 255)
              border: none
              outline: 0
              flex: 1 1 0%
              margin: 0

              &::before
                border-bottom: none

            .form-select
              width: 100%
              display: grid

    .des
      max-width: 100%

      .project-des-input
        width: 100%
        padding: 5px 5px
        display: flex

        .input-text
          width: 100%
          border: 1px solid rgb(198, 190, 207)
          -webkit-border-radius: 4px
          padding: 10px
          font: caption
          height: 65px
          outline: none

    .btn
      padding: 5px 5px
      text-align: end

@media screen and (max-width: 1366px)
  .create-project
    transform: translateY(10px)

@media screen and (max-width: 600px)
  .create-project
    .create-project-form
      display: block

      .create-project-form-grid
        display: contents

        .create-project-form-card-item
          .form-all
            padding: 5px 0

      .des
        .project-des-input
          padding: 5px 0

      .btn
        padding: 5px 0
