.btn-primary-container > .btn-primary
  font-weight: 700
  font-size: 0.875rem
  line-height: 1.71429
  text-transform: capitalize
  padding: 6px 16px
  transition: background-color 250ms 
  border-radius: 8px
  box-shadow: rgba(0, 171, 85, 0.24) 0px 8px 16px 0px
  &:hover
    background-color: #00AB55
    opacity: 0.8

  