.nav-click_up
  .menu-content-value
    width: 45vw
    display: inline-flex
    position: relative
    padding: 0
    margin: 0

    .input-of-menu-value
      margin: 5px 0
      border: 1px solid #ccc
      padding: 0 10px
      border-radius: 10px
      color: #343434
      font-size: 12px
      cursor: default
      display: flex
      align-items: center
      justify-content: space-between
      min-height: 35px

      .value-item
        padding: 0 6px
        background: #00ab55
        border-radius: 8px
        margin: 3px 2px
        color: #fff
        align-items: center
        width: fit-content
        height: 25px

        .text-value-item
          font-size: 14px
          text-transform: capitalize
          font-weight: 600
          margin-left: 5px

        .icon-value-item
          width: 15px
          height: 15px
          color: #fff
          margin-left: 5px

          .delete
            width: 15px
            height: 15px

      .value-item
        display: inline-flex

        &:hover
          .text-value-item
            white-space: normal

          .icon-value-item
            .icon-close-item
              .icon-item
                justify-content: center
                align-items: center
                right: 0
                color: #fff
                display: inline
                padding: 0 2px
                opacity: 1

.action-status-btn-menu-content
  width: 30px
  height: 30px
  margin-left: 10px !important

.input-of-menu-value--content
  width: 90%

.action-status-btn
  width: 30px
  height: 30px
