.doc-project-item > .MuiTreeItem-content > .MuiTreeItem-label
  background-color: rgb(225, 241, 244) !important

.Mui-selected > .MuiTreeItem-content > .MuiTreeItem-label
  background-color: rgb(225, 241, 244) !important

.doc-project-item
  margin-bottom: 2px !important
  user-select: none

.doc-project-item > .MuiTreeItem-content > .MuiTreeItem-label
  border-radius: 6px
  margin-right: 10px
  padding-left: 10px
