.Mui-selected > .MuiTreeItem-content > .MuiTreeItem-label
  background-color: rgb(225, 241, 244) !important

.doc-page-item
  user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  cursor: pointer

  .block-wrapper--btn
    height: 10px
    width: 20px
    align-items: center
    margin-right: 20px !important
    opacity: 0
  
  .side-toolbar--menu-item
    width: 100px

  &:hover
    background-color: rgba(99, 115, 129, 0.08)

    .block-wrapper--btn
      opacity: 1

.doc-project-item
  .MuiListItemIcon-root
    min-width: 40px

.docs-drawer--add-new-project
  color: #000

  .MuiListItemIcon-root
    color: #000

  .MuiListItemText-root
    .MuiTypography-root
      font-weight: 600
      font-size: 16px

.docs-drawer--icon-layout
  border-radius: 6px
  margin-top: 15px
  margin-left: 5px
  height: 32px
  width: 32px
  padding-top: 3px
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08)
  user-select: none
  display: flex
  justify-content: center
