.task-item
  margin: 15px 0 6px 6px
  background: #fff
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .06)
  cursor: pointer
  position: relative
  border: 1px solid #fff
  border-radius: 4px
  display: flex
  padding: 7px 10px 2px
  min-width: 0
  flex-grow: 1
  flex-direction: column
  min-height: max-content

  .text-board
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    display: flex
    align-items: center
    margin: 0 0 7px
    font-family: Gotham Pro, Proxima Nova, arial, serif
    font-weight: 100
    font-size: 10px
    line-height: 1.2
    color: #544d61

  .task-title
    text-align: center
    display: flex
    align-items: flex-start
    cursor: pointer
    width: 100%
    margin-bottom: 5px
    position: relative
    justify-content: space-between
    flex-direction: row

    .task-name
      font-size: 1.1em
      cursor: pointer
      margin-bottom: 5px
      margin: 0
      padding: 0
      border: none
      vertical-align: baseline
      position: relative
      text-align: left
      color: #212b36
      width: 200px

  .footer-task
    display: flex;
    justify-content: space-between;
    align-items: center;

    .delete-task
      .delete-task-icon
        color: #ccc
        font-size: 16px

      &:hover
        .delete-task-icon
          color: #f44336;

    .task-id
      transition: color .2s cubic-bezier(.785, .135, .15, .86) 0s
      font: 400 10px/1 Gotham Pro, Proxima Nova, arial, serif
      padding: 2px 0
      color: #777

.task-add 
  margin: 15px 10px 6px 10px
  background: #fff
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .06)
  cursor: pointer
  position: relative
  border: 1px solid #50ac55
  border-radius: 4px
  display: flex
  padding: 7px 10px 2px
  min-width: 0
  flex-grow: 1
  flex-direction: column
  min-height: max-content
  color: #7c828d

  .add-icon
    .MuiSvgIcon-root
      font-size: 18px

  .close-icon
    margin-right: 8px

  .badge-task
    border-radius: 50%;

    .MuiBadge-dot
      background-color: #44b700
      box-shadow: 0 0 0 2px #fff

  .group-avatar-task
    .MuiAvatarGroup-avatar
      width: 23px
      height: 23px 

      .avata-task  
        width: 23px  
        height: 23px  

    .MuiAvatar-colorDefault
      text-align: right;
      font-size: 12px;

    .no-user-assign
      border-radius: 50px
      padding: 2px
      border: 1px dotted #7c828d

  .grid-icon
    height: 40px

    .icon-add 
      .date-text
        font-size: 11px

    .urgent-icon
      color: #f24423

    .high-icon
      color: #ffcd37

    .normal-icon
      color: #70dcfc
      
    .low-icon
      color: #d8d8d8

    .clear-icon
      color: #f8b6b1 

  .date-add
    width: 0
    height: 0
    visibility: hidden

  .save-add 
    background-color: #50ac55
    font-size: 10px
    min-width: 20px
    min-height: 20px
    max-width: 40px
    max-height: 20px

  .direct-add
    .box-direct
      border-right: 1px solid #50ac55
      border-radius: 20px
      background-color: #fff

      .icon-direct
        font-size: 15px

.user-popup
  .avata-popup
    width: 30px  
    height: 30px
    margin-right: 16px

  .user-accept
    .avata-popup
      box-shadow: 0 0 0 1px #fff, 0 0 0 3px #44b700

    .name-popup
      font-weight: bold

.priority-popup
  .icon-popup
    margin-right: 10px

.group-avatar-task
  .badge-task
    .assigned-user-avatar
      width: 22px
      height: 22px

  .MuiAvatar-circle
    width: 25px
    height: 25px
    font-size: 10px
