.account-page
  flex-grow: 1
  padding-top: 30px
  background-color: rgb(255, 255, 255)

.account-page > .account-page-toolbar
  min-height: 56px

@media screen and (min-width:0px) and (orientation: landscape)
  .account-page > .account-page-toolbar
    minHeight: 48

@media screen and (min-width:600px)
  .account-page > .account-page-toolbar
    minHeight: 64