.detail-project
  padding: 16px 30px
  -webkit-box-align: center
  align-items: center
  -webkit-box-pack: justify
  justify-content: space-between
  width: 90%
  margin: 70px auto
  border-radius: 16px
  box-shadow: rgba(145, 158, 171, 0.24) 0 0 2px 0, rgba(145, 158, 171, 0.24) 0 16px 32px -4px

  .detail-project-form
    -webkit-box-align: end
    align-items: end
    padding: 20px 0
    box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 0
    display: flex

    .form-label
      font-size: 20px
      width: 30%

    .project-name-input
      color: rgb(43, 29, 56)
      width: 70%
      border: 1px solid rgb(198, 190, 207)
      border-radius: 4px
      padding: 10px
      height: fit-content

      .form-select
        width: 100%
        display: grid

  .btn
    padding: 10px 0
    display: flex
    justify-content: flex-end

  .btn > .hide-btn-send > .btn-primary
    background: #ccc
    box-shadow: 0 8px 16px 0 #ccc

  .all-title-project
    padding: 15px 0 20px

    .title-project
      display: flex
      white-space: nowrap
      text-overflow: ellipsis
      padding: 0 0 25px

      .avt-title
        height: 35px
        width: 35px
        border-radius: 21px
        background: #00ab55

      .name-project
        color: rgb(61, 116, 219)
        font-size: 24px
        padding-left: 4px
        line-height: 35px

  .description
    box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 0
    padding: 20px 0
    text-align: start
    font-size: 20px

    .detail-des
      font-size: 16px

  .hide-description
    display: none

  .show-description
    display: grid

@media screen and (max-width: 768px)
  .detail-project
    .detail-project-form
      display: inherit

      .form-label
        width: 100%
        padding: 10px 0

      .project-name-input
        margin: 10px 0
        width: 100%
